# Python
__pycache__/
*.py[cod]

# Virtual Environment
myworld/
venv/
env/

# Database
db.sqlite3

# Media
media/

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log